In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
#Import Data

df=pd.read_csv('Total.csv')

C:\Users\Ayobola Kazeem\AppData\Local\Temp\ipykernel_34764\3625144249.py:1: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('Total.csv')

In [3]:
#display data

df.head(10)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,Not Provided,326373.19,326373.19,2011
5,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,Not Provided,316285.74,316285.74,2011
6,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,Not Provided,315981.05,315981.05,2011
7,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,Not Provided,307899.46,307899.46,2011
8,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,Not Provided,303427.55,303427.55,2011
9,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,Not Provided,302377.73,302377.73,2011

In [27]:
#Get Employee Function (with error handling)

def get_employee_details(name):
    
    # Search case-insensitively
    employee = df[df['EmployeeName'].str.lower() == name.lower()]
    
    if not employee.empty:
        return employee
    else:
        raise ValueError(f"No employee found with name '{name}'")

In [44]:
print(get_employee_details("Ghost"))

ValueError: No employee found with name 'Ghost'

In [29]:
#Covert Data to Dictionary

salary_dict = df.set_index('EmployeeName').T.to_dict()

C:\Users\Ayobola Kazeem\AppData\Local\Temp\ipykernel_34764\457243920.py:3: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  salary_dict = df.set_index('EmployeeName').T.to_dict()

In [30]:
print(get_employee_details("Jane Doe"))

       EmployeeName                JobTitle    BasePay OvertimePay OtherPay  \
157447     Jane Doe  Public SafetyComm Disp   93048.61    25824.02      0.0
196694     Jane Doe  Public SafetyComm Disp   90843.11    37830.45   297.88
250998     Jane Doe  Public SafetyComm Disp   59672.77    20542.21   366.90
277369     Jane Doe  Public SafetyComm Disp  103013.58    45625.78   708.42

        Benefits   TotalPay  TotalPayBenefits  Year
157447  32289.29  118872.63         151161.92  2015
196694  29089.21  128971.44         158060.65  2016
250998  23663.01   80581.88         104244.89  2017
277369  35192.94  149347.78         184540.72  2018

In [26]:
print(get_employee_details("Michael Morris"))

         EmployeeName                            JobTitle    BasePay  \
8      MICHAEL MORRIS  BATTALION CHIEF, (FIRE DEPARTMENT)  176932.64
17798  MICHAEL MORRIS                        TRUCK DRIVER   67127.89
36179  Michael Morris            Assistant Deputy Chief 2   223371.0
51553  Michael Morris                        Truck Driver    74365.2

      OvertimePay  OtherPay      Benefits   TotalPay  TotalPayBenefits  Year
8        86362.68  40132.23  Not Provided  303427.55         303427.55  2011
17798      110.67   1750.25  Not Provided   68988.81          68988.81  2011
36179     7415.52  63426.03      56202.98  294212.55         350415.53  2012
51553     2130.26   2198.75      33445.77   78694.21         112139.98  2012

In [39]:
print(df.columns)

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [36]:
import os
import zipfile

def export_employee_to_zip(name):
    try:
        # Match employee by EmployeeName (case-insensitive)
        employee = df[df['EmployeeName'].str.lower() == name.lower()]

        if employee.empty:
            raise ValueError(f"No employee found with name '{name}'")

        employee = employee.reset_index(drop=True)

        # Create folder
        folder = "Employee Profile"
        os.makedirs(folder, exist_ok=True)

        # Export CSV
        file_name = f"{name.replace(' ', '_')}.csv"
        file_path = os.path.join(folder, file_name)
        employee.to_csv(file_path, index=False)

        # Zip it
        zip_path = f"{folder}.zip"
        with zipfile.ZipFile(zip_path, "w") as zipf:
            zipf.write(file_path, arcname=file_name)

        return f"Exported and zipped successfully: {zip_path}"

    except Exception as e:
        return f"Error: {e}"

In [38]:
print(export_employee_to_zip("Jane Doe"))

Exported and zipped successfully: Employee Profile.zip

In [40]:
print(export_employee_to_zip("Ghost"))

Error: No employee found with name 'Ghost'

In [43]:
import os
print(os.getcwd())

C:\Users\Ayobola Kazeem\Downloads